/*adds borders for tabs*/
.tab-content{
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}
.nav-tabs{
    margin-bottom: 0;
}
#websitesay{
    font-size: 5.4em;
}
#websitewallpaper{
    font-size: 10em;
    vertical-align: middle;
    font-family: cursive;
    padding-left: 15px;
    color:#144E89;
}
#desert{
    height: 100%;
    width: 100%;
}
.panel:hover{
    background: rgba(3,34, 68, 0.6);
}
.form-contols{
    background: rgba(129 ,189 ,225, 0.8);
    width: 50%;    
}
.panel > .form-group{
    opacity: 0.7;
    filter: alpha(opacity=70);
    background: rgba(129 ,189 ,225, 0.8);
}
span{
width: 40px;
height: 40px;
line-height: 40px;
background: rgb(129, 189, 225);
display: inline-block;
text-align: center;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
-ms-border-radius: 4px;
border-radius: 4px;
margin-left: 10px;
-webkit-box-shadow: -10px 10px 10px rgba(0, 0, 0, 0.432);
-moz-box-shadow: -10px 10px 10px rgba(0, 0, 0, 0.432);
box-shadow: -10px 10px 10px rgba(0, 0, 0, 0.432);
}
.nav{
    text-align: center;
}
body {
    background-image: url("/static/images/being.jpg");
    background-color: dodgerblue;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    font-family: sans-serif;
    margin: 0px;
    padding: 0px;

}

.panel{
background-color:rgba(129 ,189 ,225, 0.2);
border: 0px;
text-align: center;
padding-top: 70px;
position: center;
transition: 1s;
}
header{
background-color: rgba(129 ,189 ,225, 0.2);
}
.ban{
    height: 150px;
    background-image: url("/static/images/banner01.jpg");
   /* background-size: cover;*/
    background-repeat: repeat;
    background-position: center;
    background-attachment: relative;
    max-width: 100%;
}
#biz{
    background-image: url("/static/images/banner01.jpg");
   /* background-size: cover;*/
    background-repeat: repeat;
    background-position: center;
    background-attachment: relative;
    max-width: 100%;
}
.ban > .navbar-nav{
    opacity: 0.3;
    filter: alpha(opacity=30);
}
.grid-container {
    display: grid;
    height: auto;
    width: auto;
    align-content: center;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
    padding: 10px
}
.grid-container > div {
    background-color: rgba(255, 255, 255, 0.2);
    text-align: center;
    padding: 10px 0;
}
#park > img{
    border-radius: 20%;
}
#garden > img{
    border-radius: 15%;
}
#cafe > img{
    border-radius: 18%;
}
#hospital > img{
    border-radius: 23%;
}
#hotel > img{
    border-radius: 30%;
}
.search{
    display: inline-flex;
}
.card {
    margin-bottom: 20px;
    background-color: dodgerblue;
}
.row > .form-inline {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
  }
  
  /*
   * Sidebar
   */
  
  .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100; /* Behind the navbar */
    padding: 0;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
  }
  
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 48px; /* Height of navbar */
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  }
  
  .sidebar .nav-link {
    font-weight: 500;
    color: #333;
  }
  
  .sidebar .nav-link .feather {
    margin-right: 4px;
    color: #999;
  }
  
  .sidebar .nav-link.active {
    color: #007bff;
  }
  
  .sidebar .nav-link:hover .feather,
  .sidebar .nav-link.active .feather {
    color: inherit;
  }
  
  .sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
  }
  
